/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pappins, sans-serif;
}

body {
    background-color: #1f242d;
    
}

/* Links */
a {
    text-decoration: none;
    color: #fff;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: slateblue;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}


.navbar ul li {
    margin-left: 35px;
    list-style: none;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: rgb(50, 193, 7);
}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
   
}

.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}
.home-info h3 {
  white-space: nowrap;       /* Keep all text in one line */
  overflow: hidden;
  font-size: 28px;
  margin-top: 10px;
}

.home-info h3 span {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px rgb(32, 218, 91);
  animation: display-text 9s linear infinite; 
}
.home-info h3 span:nth-child(1) {
  animation-delay: 0s;       
}
.home-info h3 span:nth-child(2) {
  animation-delay: 3s;       
}
.home-info h3 span:nth-child(3) {
  animation-delay: 6s;       
}

@keyframes display-text {
  0%, 25%, 100% { color: transparent; }
  10%, 20% { color: red; }
}
.home-info .hh {
    font-size: 32px;
    color: royalblue;
    margin-top: -10px;
}

.home-info h3 .highlight {
    color: rgb(247, 179, 8);
    font-weight: bold;
    margin-left: 20px;
}

.home-info .highlight {
    color: rgb(23, 196, 49);
    font-weight: bold;
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}


.btn-sci {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn {
    padding: 10px 30px;
    background: rgb(50, 193, 7);
    font-size: 16px;
    font-weight: 600;
    border: 2px solid rgb(50, 193, 7);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(50, 193, 7);
    transition: 0.5s;
    color: #1f242d;
    display: inline-block;
}

.btn:hover {
    background: transparent;
    color: rgb(50, 193, 7);
    box-shadow: none;
}

.sci a {
    width: 40px;
    height: 40px;
    display: inline-flex;
     border-radius: 50%;
    padding: 8px;
    border: 2px solid rgb(50, 193, 7);

    
    
    font-size: 20px;
    color: rgb(50, 193, 7);
   
    
    
    transition: 0.5s;
}

.sci a:hover {
    background-color: #e3dfd5;
    color: rgb(50, 193, 7);
    box-shadow: 0 0 10px rgb(200, 212, 68);
}

.home-img .home-box {
    width: 220px;       /* slightly smaller than before */
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgb(50, 193, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;   /* push it slightly down */
}
.home-img .home-box .img-item {
    width: 100%;
    height: 100%;
    background: slateblue;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    }
.home-img .home-box .img-item img {
    width: 100%;          /* fill container width */
    height: 100%;         /* fill container height */
    object-fit: cover;    /* crop and cover full circle */
    border-radius: 50%;   /* make it fully circular */
    display: block;
    position: relative;   /* remove absolute positioning */
    top: 0;               /* remove offset */
}

